# SETS ADVANCED

Initialising a list with similiar datatypes

In [4]:
my_set = {1,2,3,4}
print(my_set)

{1, 2, 3, 4}

Initialising list with different datatypes

In [6]:
my_set = {1,1.2,"suryaa"}
print(my_set)

{'suryaa', 1.2, 1}

Initialising a empty set

In [9]:
my_set = set()
print(type(my_list))

<class 'set'>

# INDEXING IN SET

Set does not support indexing

In [11]:
my_set = {1,2,3,4,5,6,7}
print(my_set[0])

TypeError: 'set' object is not subscriptable

# Basic operations

Adding an element to a set

In [14]:
my_set = {1,2,3,5,6,7}
my_set.add(10)
print(my_set)

{1, 2, 3, 5, 6, 7, 10}

In [13]:
my_set = {1,2,3,5,6,7}
my_set.add("suryaa")
print(my_set)

{1, 2, 3, 5, 6, 7, 'suryaa'}

Adding multiple elements to a set

In [16]:
my_set = {1,2,3,5,6,7}
my_set.update([11,12,13])
print(my_set)

{1, 2, 3, 5, 6, 7, 11, 12, 13}

In [18]:
my_set = {1,2,3,5,6,7}
my_set.update([11,12,13],{55,66,77})
print(my_set)

{1, 2, 3, 66, 5, 6, 7, 11, 12, 13, 77, 55}

Discard an element

In [19]:
my_set = {1,2,3,5,6,7}
my_set.discard(3)
print(my_set)

{1, 2, 5, 6, 7}

In [20]:
my_set = {1,2,3,5,6,7}
my_set.discard(10)
print(my_set)

{1, 2, 3, 5, 6, 7}

Remove an element

In [22]:
my_set = {1,2,3,5,6,7}
my_set.remove(5)
print(my_set)

{1, 2, 3, 6, 7}

In [23]:
my_set = {1,2,3,5,6,7}
my_set.remove(10)
print(my_set)

KeyError: 10

Pop an element

In [25]:
my_set = {1,2,3,5,6,7}
my_set.pop()
print(my_set)

{2, 3, 5, 6, 7}

In [26]:
my_set.pop()
print(my_set)

{3, 5, 6, 7}

In [27]:
my_set.pop()
print(my_set)

{5, 6, 7}

In [28]:
my_set.pop()
print(my_set)

{6, 7}

In [29]:
my_set.pop()
print(my_set)

{7}

Set intersection

In [32]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1 | set2)

{1, 2, 3, 4, 5, 6, 7, 8}

Set difference

In [33]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print(set1 & set2)

{4, 5}