# LOOPS

# WHILE LOOPS

In [4]:
# example

n = 1
while n < 11:
    print(n)
    n = n + 1

1
2
3
4
5
6
7
8
9
10

In [3]:
# example

n = 10
while n > 0:
    print(n)
    n = n-1

10
9
8
7
6
5
4
3
2
1

In [10]:
# example

# break

n = 0
while n < 6:
    if n == 3:
        break
    n = n + 1
    print(n)

1
2
3

In [1]:
# example

# continue

n = 0
while n < 6:
    n = n + 1
    if n == 3:
        continue
    print(n)

1
2
4
5
6

# FOR LOOP

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [6]:
#printing odd numbers from 1 to 100

for i in range(1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [7]:
# printing even numbers from 1 to 100

for i in range(0,101,2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [10]:
li = ["suryaa","is","my","name"]
for i in li:
    print(i)

suryaa
is
my
name

In [11]:
li = ["suryaa","is","my","name"]
for i in li:
    if i == "name":
        break
    print(i)

suryaa
is
my

In [12]:
li = ["suryaa","is","my","name"]
for i in li:
    if i == "my":
        continue
    print(i)

suryaa
is
name