In [ ]:
                         Functions

Finding the length of the string by using the function (Built in Function)

Example

In [1]:
a = "Suryaa"
print(len(a))

6

In [2]:
list1 = [1,2,3.4,"Suryaa",[1,2,3]]
print(len(list1))

5

Function increases the reusability of the code.

Function is of two types:-
built in functions and user defined functions.

Syntax :-

def function_name(arguments):
      
       statements

If we defined a function but if we dont want to write any body of the function, Then we can use the **pass** keyword

In [3]:
def test1():
  pass

Function basic example:-

In [4]:
def test1():  # Defining a function
  print("This is Suryaa,Aspiring data scientist")  # Statements

In [5]:
test1()      # calling a function

This is Suryaa,Aspiring data scientist

We can store the outcome of the function using a variable


Since python is a self typed language, It will return only None datatype until we use a return datatype

In [7]:
def test2():
  return "Suryaa"

In [8]:
test2()

'Suryaa'

In [9]:
d = test2()
print(d)

Suryaa

In [10]:
type(test2())   # this function returns a string datatype

str

Another example of return keyword

In [11]:
def test3():
  return 17

In [14]:
def test4():
  print("My name is Suryaa")

In [12]:
a = test3()
print(a)
print(type(a))

17
<class 'int'>

In [15]:
b = test4()
print(b)
print(type(b))

My name is Suryaa
None
<class 'NoneType'>

We cannot perform a primitive operation without a return statement in a function

whereas in a function using return statement, we can perform primitive operation.

In [16]:
# Example

test3() + 23

40

In [17]:
test4() + "NT"

My name is Suryaa

TypeError: ignored

Function follows Indentation

4 space necessary for writing the body of the function.

In [18]:
# Example for indentation

def suryaa():
print("my name is suryaa")


suryaa()

IndentationError: ignored

Returning different and multiple datatypes will leads to return a tuple

In [21]:
# Example

def test5(): 
  return 1,2,3,[4,5,6],(8,9),"Suryaa"

print(test5())

(1, 2, 3, [4, 5, 6], (8, 9), 'Suryaa')

In [22]:
test5()[2]

3

In [23]:
test5()[3][2]

6

More examples

In [24]:
def test7():
  a = 10*10+10-10
  return a

In [26]:
print(test7())

100

In [27]:
test7() + 10

110

adding all the numbers in a list using a function.

In [32]:
def sum1(l):
  sum = 0
  for i in l:
    sum = sum + i
  return sum

l = [1,2,3,4,5,6,7,8,9]
print(sum1(l))

45

adding all the numbers in a list using a function.

l = [1,2,3,4,5,6,7,8,9,"suryaa"]

In [34]:
def sum1(l):
  sum = 0
  for i in l:
    if type(i)== int:
      sum = sum + i
  return sum

l = [1,2,3,4,5,6,7,8,9,"suryaa"]
print(sum1(l))

45

adding all the numbers in a list using a function.

l = [1,2,3,4,5,6,7,8,9,"suryaa",7.84,12.4]

In [37]:
def sum1(l):
  sum = 0
  for i in l:
    if type(i)== int:
      sum = sum + i
  return sum

l = [1,2,3,4,5,6,7,8,9,"suryaa",7.84,12.4]
print(sum1(l))

45

Function with Arguments

In [38]:
def test11(a,b):
  return a+b

test11(2,3)

5

In [39]:
test11("Sur","yaa")

'Suryaa'

Printing only the string in the new list

In [42]:
# Solution

def list1(l):
  l1 = []
  for i in l:
    if type(i) == str:
      l1.append(i)
  return l1
l = [3,4,5,6,7,8,"sur",5,6,7,"yaa","ineuron"]
a = list1(l)
print(a)

['sur', 'yaa', 'ineuron']

Calling  the list again (Reusability of the code)

In [43]:
l = ["Suryaa","Is","A","Data Scientist",2,6,78854]
b = list1(l)
print(b)

['Suryaa', 'Is', 'A', 'Data Scientist']

Shift + Tab will gives the DocString of the function

In [ ]:
# Solution

def list1(l):
  """
  This is a program to return list containing only strings 
  This is Written by Suryaa
  """

  # The above statements represents the docstring
  
  l1 = []
  for i in l:
    if type(i) == str:
      l1.append(i)
  return l1
l = [3,4,5,6,7,8,"sur",5,6,7,"yaa","ineuron"]
a = list1(l)
print(a)

In [45]:
list1(l)  # Type Shift + tab

['Suryaa', 'Is', 'A', 'Data Scientist']

1) Write a function which will try to find out length of the string without using the inbuilt len string.



2) Write a function which will be able to print the index of an list element without the index inbuilt function.



3) Write a function which will be able to print an IP address of your system.


4) Write a function which will shutdown your system.


5) Write a function which will take input as a list with any kind of numerical value and gave an out as a multiplication of all the numeric data 
l = [3.5,6.56,4,5,"Sudh","ineuron","fsda bootcamp 2.0")


6) Write a function which will be able to read all the mails


7) write a function which will be able to send a mail to anyone


8) Write a function which will be able to read a document or word file from your system.

send to mail id : query@ineuron.ai