#                                 HACKATHON - 1

# Name : NT SURYAA
# Mail id : ntsuryaa17@gmail.com
# AUG Datascience batch

# IF STATEMENT

1) increment the value by 1

In [8]:
n = 0 
if True:
    n = n + 1
print(n)

1

2) Determine weather a person is eligible to vote by using  input

In [15]:
age = int(input("Enter your age : "))
if age >= 18:
    print("You are eligible to vote")

Enter your age : 20
You are eligible to vote

# IF ELSE STATEMENT

1) Determine weather a person is eligible to vote by using input

In [11]:
age = int(input("Enter your age : "))
if age >= 18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age : 17
You are not eligible to vote

2) find the number is even or odd by using input

In [12]:
num = int(input("Enter a number : "))
if (num % 2 == 0):
    print("The number is a even number")
else :
    print("The number is a odd number")

Enter a number : 15
The number is a odd number

3) A company decides to give bonus to all its employees on New year. A 10% bonus on salary for all the male workers and 25% to females. build a programme to enter Salary and Gender(m or F) of employee.

In [14]:
gender = input("Enter the gender(M/F) : ")

if gender == 'M':
    salary = int(input("Enter salary : "))
    final_salary = salary + (10/100) * salary
    print(final_salary)
    
elif gender == 'F':
    salary = int(input("Enter salary : "))
    final_salary = salary * (25/100) + salary
    print(final_salary)
    
else:
    print("Enter valid input details")

Enter the gender(M/F) : M
Enter salary : 20000
22000.0

# IF ELIF ELSE STATEMENTS

1) check weather the number is positive or negitive or equal to zero using input

In [16]:
num = int(input("Enter a number : "))

if num < 0:
    print("The input number is a negative number")
elif num == 0:
    print("The input number is zero")
else :
    print("The entered number is Positive number")

Enter a number : 4
The entered number is Positive number

2) Test Weather the charcter is vowel or not vowel using input

In [24]:
ch = input("Enter the character : ")

if ch == 'A' or 'E' or 'I' or 'O' or 'U':
    print("The entered character is a vowel")
else :
    print("The entered character is not a vowel")

Enter the character : O
The entered character is a vowel

3) Given an integer input perform the following conditional actions:

If n is odd, print odd

If n is even and in the inclusive range of 2 to 5, print small

If n is even and in the inclusive range of 6 to 20, print medium

If n is even and greater than 20, print big

In [26]:
num = int(input("Enter a number : "))

if (num % 2 == 1):
    print(num, " is odd")
else :
    if num >=2 and num <=5:
        print("Small")
    elif num >5 and num <=20:
        print("Medium")
    else:
        print("Big")

Enter a number : 26
Big

# WHILE LOOP

1) print first 10 numbers

In [29]:
n = 0
while n < 10:
    n += 1
    print(n)

1
2
3
4
5
6
7
8
9
10

2) find average and sum for first 10 numbers

In [35]:
n = 0
sum1 = 0
while n < 10:
    n = n +1
    sum1 = sum1 + n

avg = sum1/n
print("The average is ",avg)
print("The sum is ",sum1)

The average is  5.5
The sum is  55

3) Draw a line using while loop

In [37]:
n = 0
while n < 15 :
    print("__",end="")
    n = n + 1

______________________________

4) calculate the sum of m to n  numbers using input

In [41]:
m = int(input("Enter a number : "))
n = int(input("Enter a number : "))
sum1 = 0
while m < n:
    sum1 = sum1 + m
    m = m + 1
print(sum1)

Enter a number : 10
Enter a number : 20
145

5) countdown 10 to 0 using input

In [1]:
m = 0
n = int(input())
print("countdown started")
while m <= n:
    print(n)
    n = n - 1

10
countdown started
10
9
8
7
6
5
4
3
2
1
0

# FOR LOOP

1) Multiplication table using input

In [7]:
n = int(input("Enter a number : "))
for i in range(1,11):
    print(n," * ", i, " = ", n*i)

Enter a number : 5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

2) print even and odd for range of number

In [9]:
m = int(input())
n = int(input())

for i in range(m,n):
    if i % 2 == 0:
        print(i," Even")
    else:
        print(i," Odd")

1
11
1  Odd
2  Even
3  Odd
4  Even
5  Odd
6  Even
7  Odd
8  Even
9  Odd
10  Even

3) break statement

In [10]:
n = "Suryaa"
for i in n :
    if "S" in n:
        print("The letter is available ")
        break
    else:
        break

The letter is available

4) countinue statement

In [12]:
n = "Suryaa"
for i in n :
    if "S" in n:
        print("The letter is available ")
        break
    else:
        continue

The letter is available

5) all leap years from 1800 - 2021

In [13]:
for i in range(1800,2021):
    if i % 4 == 0:
        print(i, " is a leap year")
    else:
        print(i, " is not a leap year")

1800  is a leap year
1801  is not a leap year
1802  is not a leap year
1803  is not a leap year
1804  is a leap year
1805  is not a leap year
1806  is not a leap year
1807  is not a leap year
1808  is a leap year
1809  is not a leap year
1810  is not a leap year
1811  is not a leap year
1812  is a leap year
1813  is not a leap year
1814  is not a leap year
1815  is not a leap year
1816  is a leap year
1817  is not a leap year
1818  is not a leap year
1819  is not a leap year
1820  is a leap year
1821  is not a leap year
1822  is not a leap year
1823  is not a leap year
1824  is a leap year
1825  is not a leap year
1826  is not a leap year
1827  is not a leap year
1828  is a leap year
1829  is not a leap year
1830  is not a leap year
1831  is not a leap year
1832  is a leap year
1833  is not a leap year
1834  is not a leap year
1835  is not a leap year
1836  is a leap year
1837  is not a leap year
1838  is not a leap year
1839  is not a leap year
1840  is a leap year
1841  is not a leap year
1842  is not a leap year
1843  is not a leap year
1844  is a leap year
1845  is not a leap year
1846  is not a leap year
1847  is not a leap year
1848  is a leap year
1849  is not a leap year
1850  is not a leap year
1851  is not a leap year
1852  is a leap year
1853  is not a leap year
1854  is not a leap year
1855  is not a leap year
1856  is a leap year
1857  is not a leap year
1858  is not a leap year
1859  is not a leap year
1860  is a leap year
1861  is not a leap year
1862  is not a leap year
1863  is not a leap year
1864  is a leap year
1865  is not a leap year
1866  is not a leap year
1867  is not a leap year
1868  is a leap year
1869  is not a leap year
1870  is not a leap year
1871  is not a leap year
1872  is a leap year
1873  is not a leap year
1874  is not a leap year
1875  is not a leap year
1876  is a leap year
1877  is not a leap year
1878  is not a leap year
1879  is not a leap year
1880  is a leap year
1881  is not a leap year
1882  is not a leap year
1883  is not a leap year
1884  is a leap year
1885  is not a leap year
1886  is not a leap year
1887  is not a leap year
1888  is a leap year
1889  is not a leap year
1890  is not a leap year
1891  is not a leap year
1892  is a leap year
1893  is not a leap year
1894  is not a leap year
1895  is not a leap year
1896  is a leap year
1897  is not a leap year
1898  is not a leap year
1899  is not a leap year
1900  is a leap year
1901  is not a leap year
1902  is not a leap year
1903  is not a leap year
1904  is a leap year
1905  is not a leap year
1906  is not a leap year
1907  is not a leap year
1908  is a leap year
1909  is not a leap year
1910  is not a leap year
1911  is not a leap year
1912  is a leap year
1913  is not a leap year
1914  is not a leap year
1915  is not a leap year
1916  is a leap year
1917  is not a leap year
1918  is not a leap year
1919  is not a leap year
1920  is a leap year
1921  is not a leap year
1922  is not a leap year
1923  is not a leap year
1924  is a leap year
1925  is not a leap year
1926  is not a leap year
1927  is not a leap year
1928  is a leap year
1929  is not a leap year
1930  is not a leap year
1931  is not a leap year
1932  is a leap year
1933  is not a leap year
1934  is not a leap year
1935  is not a leap year
1936  is a leap year
1937  is not a leap year
1938  is not a leap year
1939  is not a leap year
1940  is a leap year
1941  is not a leap year
1942  is not a leap year
1943  is not a leap year
1944  is a leap year
1945  is not a leap year
1946  is not a leap year
1947  is not a leap year
1948  is a leap year
1949  is not a leap year
1950  is not a leap year
1951  is not a leap year
1952  is a leap year
1953  is not a leap year
1954  is not a leap year
1955  is not a leap year
1956  is a leap year
1957  is not a leap year
1958  is not a leap year
1959  is not a leap year
1960  is a leap year
1961  is not a leap year
1962  is not a leap year
1963  is not a leap year
1964  is a leap year
1965  is not a leap year
1966  is not a leap year
1967  is not a leap year
1968  is a leap year
1969  is not a leap year
1970  is not a leap year
1971  is not a leap year
1972  is a leap year
1973  is not a leap year
1974  is not a leap year
1975  is not a leap year
1976  is a leap year
1977  is not a leap year
1978  is not a leap year
1979  is not a leap year
1980  is a leap year
1981  is not a leap year
1982  is not a leap year
1983  is not a leap year
1984  is a leap year
1985  is not a leap year
1986  is not a leap year
1987  is not a leap year
1988  is a leap year
1989  is not a leap year
1990  is not a leap year
1991  is not a leap year
1992  is a leap year
1993  is not a leap year
1994  is not a leap year
1995  is not a leap year
1996  is a leap year
1997  is not a leap year
1998  is not a leap year
1999  is not a leap year
2000  is a leap year
2001  is not a leap year
2002  is not a leap year
2003  is not a leap year
2004  is a leap year
2005  is not a leap year
2006  is not a leap year
2007  is not a leap year
2008  is a leap year
2009  is not a leap year
2010  is not a leap year
2011  is not a leap year
2012  is a leap year
2013  is not a leap year
2014  is not a leap year
2015  is not a leap year
2016  is a leap year
2017  is not a leap year
2018  is not a leap year
2019  is not a leap year
2020  is a leap year

# User defined function

1) creating arethematic operators using user defined functions

In [14]:
def func(a,b):
    choice = input("Enter your choice : ")
    if choice == "sum":
        sum1 = a + b
        return sum1
    elif choice == "diff":
        diff = a - b
        return diff
    elif choice == "mul":
        mul = a * b
        return mul
    elif choice == "div":
        div = a % b
        return div
    elif choice == " exp":
        exp = a ** b
        return exp
    elif choice == "rem":
        rem = a % b
        return rem
    else:
        print("Invalid entry")
        
a = int(input())
b = int(input())
arith = func(a,b)
print(arith)

10
5
Enter your choice : diff
5

2) Welcome With input

In [17]:
def welcome():
    name = input("Enter your name : ")
    print("welcome ", name)
greeting = welcome()

Enter your name : suryaa
welcome  suryaa

# Lambda function

1) sum using lambda function

In [18]:
sum1 = lambda a,b : a + b
print(sum1(10,20))

30

2) create a list using loop

Create a list of first 10 number using list comprehension

In [24]:
li = []
for i in range(1,11):
    li.append(i)
print(li)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

3) select all the even number form the list with filter()

In [28]:
li = []
for i in range(1,11):
    li.append(i)
sol = filter(lambda x : x%2==0, li)
sol1 = list(sol)
print(sol1)

[2, 4, 6, 8, 10]

4) get  the squiares of numbers form the list with map()

In [34]:
li = []
for i in range(1,11):
    li.append(i)
sol = map(lambda x: x**2, li)
sol1 = list(sol)
print(sol1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

5) get the sum of numbers of the list using reduce()

In [33]:
from functools import reduce
li = []
for i in range(1,11):
    li.append(i)

red = reduce(lambda x,y: x+y, li)
print(red)

55