#                 CLASSES AND OBJECTS

Classes - Blueprint or skeleton of objects

objects - Instance of the Class

Syntax :

class classname:
    # Statements

In [1]:
# example

class emp:
    pass

In [2]:
e=emp()

In [3]:
print(type(e))

<class '__main__.emp'>

In [4]:
print(id(e))

2375072763472

In [5]:
# Example

class Robot:
    def introduce_self(self):
        print("My name is : ",self.name)

In [6]:
r1 = Robot()

In [7]:
r1.name = "Suryaa"

In [8]:
r1.introduce_self()

My name is :  Suryaa

In [9]:
r2 = Robot()

In [10]:
r2.name = "Ali"

In [11]:
r2.introduce_self()

My name is :  Ali

#  __init__ method

In [12]:
# Example

In [13]:
class Robot:
    def __init__(self,name,color,weight):
        self.name = name
        self.color = color
        self.weight = weight
    
    def introduce_self(self):
        print("My name is : ",self.name)

In [14]:
r3 = Robot("Suryaa","White",30)

In [15]:
r3.introduce_self()

My name is :  Suryaa

In [16]:
r4 = Robot("Ali","Black",40)

In [17]:
r4.introduce_self()

My name is :  Ali

In [18]:
#### Example ####

In [19]:
class Person:
    def __init__(self,name,gender,profession):
        self.name = name
        self.gender = gender
        self.profession = profession
    
    def show(self):
        print("My name is {}, I'm a {}, I'm Working as {}".format(self.name,self.gender,self.profession))
    
    def work(self):
        print("{} working as {}".format(self.name,self.profession))

In [20]:
a1 = Person("Suryaa","Male","Engineer")

In [21]:
a1.show()

My name is Suryaa, I'm a Male, I'm Working as Engineer

In [22]:
a1.work()

Suryaa working as Engineer

In [23]:
a2 = Person("Ali","Female","Engineer")

In [24]:
a2.show()

My name is Ali, I'm a Female, I'm Working as Engineer

In [25]:
a2.work()

Ali working as Engineer

In [26]:
##### Example #####

In [27]:
class Emp:
    def __init__(self):
        print(id(Emp))
        self.name = "Suryaa"
        self.age = 20
        self.salary = 400000

In [28]:
e1 = Emp()

2375056440144

In [29]:
e1.name

'Suryaa'

In [30]:
e1.age

20

In [31]:
e1.salary

400000

In [32]:
e1.salary = 500000

In [33]:
e1.salary

500000

In [34]:
e1.name = "NT SURYAA"

In [35]:
e1.name

'NT SURYAA'

In [36]:
print(e1.name)
print(e1.salary)
print(e1.age)

NT SURYAA
500000
20

In [37]:
########## PROBLEM QUESTION ###################

Write a Python Program to find Area and Circumference of the Circle using OOPS

In [38]:
class Circle:
    def __init__(self,radius):
        self.radius = radius
    
    def area(self):
        a = 3.14159265359 * self.radius * self.radius
        print("The Area of the Circle with Radius {} is {}".format(self.radius,a))

    def circumference(self):
        circum = 2 * 3.14159265359 * self.radius
        print("The circumference of the circle with Radius {} is {}".format(self.radius,circum))

obj = Circle(7)
obj.area()
obj.circumference()

The Area of the Circle with Radius 7 is 153.93804002591
The circumference of the circle with Radius 7 is 43.98229715026

In [39]:
######## PROBLEM QUESTION ############

Create a Class Bank Account
Create Constructor Account Number,Name and Balance
deposit()
withdrawal()
display details()

In [40]:
# Solution

class Bank:
    
    def __init__(self,account_number,name,balance):
        self.account_number = account_number
        self.name = name
        self.balance = balance
    
    def deposit(self,d_amount):
        self.d_amount = d_amount
        self.balance += self.d_amount
        print("{} is Credited into your Bank Account".format(self.d_amount))
        print("The available balance in your Bank Account is {}".format(self.balance))
    
    def withdraw(self,w_amount):
        self.w_amount = w_amount
        self.balance -= self.w_amount
        print("{} is Debited from your Bank Account".format(self.w_amount))
        print("The available balance in your Bank Account is {}".format(self.balance))
        
    def display(self):
        print("Your Name is : ",self.name)
        print("Your account Number is : ",self.account_number)
        print("Your Balance in your Account : ",self.balance)

In [41]:
b1 = Bank("1N2B5GG34","Suryaa",50000)

In [42]:
b1.deposit(20000)

20000 is Credited into your Bank Account
The available balance in your Bank Account is 70000

In [43]:
b1.withdraw(5000)

5000 is Debited from your Bank Account
The available balance in your Bank Account is 65000

In [44]:
b1.display()

Your Name is :  Suryaa
Your account Number is :  1N2B5GG34
Your Balance in your Account :  65000

In [45]:
b2 = Bank("2M45HK7Y","Ali",40000)

In [46]:
b2.deposit(200)

200 is Credited into your Bank Account
The available balance in your Bank Account is 40200

In [47]:
b2.withdraw(40000)

40000 is Debited from your Bank Account
The available balance in your Bank Account is 200

In [48]:
b2.display()

Your Name is :  Ali
Your account Number is :  2M45HK7Y
Your Balance in your Account :  200